<p>usuario-list works!</p>

<!--<button (click)="teste()" > Teste </button>-->

<app-usuario-detalhe 
    [usuariosFilho]="usuarioSelecionado" 
    (usuarioEmitter)="onUsuarioEmitter($event)" 
    (usuarioSalvarEmitter)="onUsuarioEmitter($event)"
    >
</app-usuario-detalhe>



<table class="table">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Cpf</th>
        <th>Ações</th>
        
    </tr>

    <tr *ngFor="let u of usuarios">
        <td>{{ u.id }}</td>
        <td>{{ u.nome }}</td>
        <td>{{ u.email }}</td>        
        <td>{{ u.cpf | cpf }}</td>    
        <td> <button class="btn btn-info" (click)="onSelecionarClick(u)" > Selecionar </button>  </td> 
    </tr>
</table>

