<div class="row lg-12 float-right mt-3 mb-3">
    <button type="button" class="btn btn-primary"
    [routerLink]="['/crud/crud-form']" routerLinkActive="active" >
   Novo Usuario
 </button>

</div>




<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>
    <tr *ngFor="let u of usuarios?.data">
        <td> {{ u.id }} </td>
        <td>  </td>
        <td> {{ u.email }} </td>
        <td>
            <button class="btn btn-info mr-2" [routerLink]="['/crud/crud-form', u.id]" >Editar</button>
            <button class="btn btn-danger" >Deletar</button>
        </td>
    </tr>
</table>
